parameters:
    level: 6
    paths:
        - src
        - tests
    # PhpWord's bundled PCLZip, which tests use to read back Support\Zip's archives
    scanFiles:
        - vendor/phpoffice/phpword/src/PhpWord/Shared/PCLZip/pclzip.lib.php
    treatPhpDocTypesAsCertain: false
    reportUnmatchedIgnoredErrors: false
    ignoreErrors:
        # templates are included with extracted variables
        - '#Variable \$[a-z]+ might not be defined#'
        # FFI::cdef() returns a dynamic binding; its methods aren't statically known
        -
            message: '#Call to an undefined method FFI::#'
            path: src/Support/Fsync.php
